@import "tailwindcss";

@theme {
    --font-sans: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
    :root {
        font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
        color-scheme: light dark;
        color: rgba(255, 255, 255, 0.87);
        background-color: #242424;
    }

    @media (prefers-color-scheme: light) {
        :root {
            color: #213547;
            background-color: #ffffff;
        }
    }

    a {
        @apply font-medium text-blue-500 hover:text-blue-700;
    }

    button {
        @apply rounded-lg border border-transparent px-4 py-2 font-medium bg-neutral-900 text-white hover:border-blue-500 transition;
    }

    h1 {
        @apply text-4xl font-bold leading-tight;
    }
}
